.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
}

.arrowBack {
  font-size: 2.5rem;
}

.headerHeading {
  font-size: 1.5rem;
}

.headerSide {
  display: flex;
  gap: 1.3rem;
}

.sideIcon {
  font-size: 1.5rem;
}

.link {
  color: #fff;
}
